.cya2-middle{
  margin: 0 112px;
  padding: 0 32px 18px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.si-c{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 0 0 0;
}
.si-c button{
  display: inline-flex;
  font-size: 15px;
  font-weight: 600;
  width: 300px;
  padding: 7px ;
  border: none;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  cursor: pointer;
}
.si-c img{
  width: 25px;
}

.light{
  color: #535353;
}

.line{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ll, .lr{
  border-bottom: 1px solid #cecece5b;
  width: 130px;
}
.lt{
  margin: 0 10px;
}

.si-inp input{
  color: #f3f1f1;
  background: transparent;
  border: 1px solid #b3afafab;
  font-size: 16px;
  padding: 20px;
  margin: 0 0 12px 0;
  border-radius: 3px;
  width: 300px;
}
.si-butn{
  text-align: center;
}
.si-butn button{
  padding: 10px 0;
  margin: 0 0 23px 0;
}
#ssi-butn{
  border: 1px solid #abc1f07e;
  background: transparent;
  color: white;
}

.btm-div{
  width: 300px;
}
.btm-div p{
  margin: 20px 0;
  color: #b3afafab;
}
.btm-div a{
  text-decoration: none;
  color: #1a89e4;
}

/* media-query */

@media(max-width: 700px){
  .cya2-middle{
    margin-top: 50px;
  }
}